body{
    background-Color: rgb(255, 229, 229); 
}
h1{
    color: rgb(111, 45, 137);
    text-align: center;
    font-size: 70px;
}
div{
    background-color: rgb(219, 148, 223);
    height: 100%;
    align-items: center;
    width: 100%;
    align-items: center;
    border-radius: 100px;
}
p{
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif
    color: rgb(133, 79, 171);
   
}

label{
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif
    color: rgb(0, 0, 0);
}
fieldset{
    border: 30px solid rgb(207, 32, 226);
    border-radius: 60px;
    
}
#submit{
    background-color: rgb(212, 15, 199);
    width: 100%;
    border: 6px solid rgb(243, 82, 232);
    padding: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 90px;
    text-align: center;
   
}
